@model WebPagePub.Web.Models.AdminManagementModel
@{
    ViewData["Title"] = "Home";
}
  <h2>Admin</h2>
<hr />
<ul>
    <li>
        <a href="~/ContentSnippetManagement">Content Snippet Management</a>
    </li>

    <li>
        <a href="~/CommentManagement">Comment Management  (@Model.CountOfCommentsToModerate)</a>
    </li>

    <li>
        <a href="~/EmailSubscriptionManagement">Email Subscription Management</a>
    </li>


    <li>
        <a href="~/linkmanagement">Link Management</a>
    </li>


    <li>
        <a href="~/sitefilesmanagement">Site File Management</a>
    </li>

    <li>
        <a href="~/sitepages">Site Page Management</a>
    </li>

    <li>
        <a href="~/reports">Reports</a>
    </li>



</ul>