


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Thank You!</h1>
                <h3>Your comment is pending review.</h3>
            </div>
        </div>
    </div>
</section>
