@model WebPagePub.WebApp.Models.SitePage.SitePageDisplayModel
@inject WebPagePub.Services.Interfaces.ICacheService _cacheHelper
@using WebPagePub.Data.Enums;
@section StylesHeader {
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1 class="main-page-header">@Model.PageContent.PageHeader</h1>

                @{ await Html.RenderPartialAsync("_BreadcrumbList", Model.BreadcrumbList); }
                @{ await Html.RenderPartialAsync("_StructuredDataOrganization", Model.Organization); }
                @{ await Html.RenderPartialAsync("_StructuredDataWebsite", Model.Website); }

                <article>
                    <hr />
                 @Html.Raw(Model.PageContent.Content)
                </article>
            </div>
        </div>


    </div>
</section>

@section ScriptsFooter{

}

@{ await Html.RenderPartialAsync("_LoginPartialPageEdit", Model); }