<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\WebPagePub.WebApp.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 250MB -->
				<requestLimits maxAllowedContentLength="262144000" />
			</requestFiltering>
		</security>
	</system.webServer>
  </location>
</configuration>
<!--ProjectGuid: DED7A370-916D-4458-978F-BB8BFFB4835D-->