@inject WebPagePub.Services.Interfaces.ICacheService _cacheHelper
@using WebPagePub.Data.Enums;
@{
    var newsletterMessage = _cacheHelper.GetSnippet(SiteConfigSetting.SubscribeToNewsletterMessage);

    if (string.IsNullOrWhiteSpace(newsletterMessage))
    {
        newsletterMessage = "Subscribe To Our Newsletter!";
    }
}
    <i>@newsletterMessage</i>

    <form asp-controller="EmailSubscription" asp-action="Subscribe" method="post" class="form-inline">
        
        <input name="Email" type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="you@email.com">

        <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
 
 