
<i>Subscribe To Our Newsletter!</i>

    <form asp-controller="EmailSubscription" asp-action="Subscribe" method="post" class="form-inline">
        
        <input name="Email" type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="you@email.com">

        <button type="submit" class="btn btn-success">Subscribe</button>
    </form>
 