@model List<WebPagePub.Web.Models.SitePageCommentModel>


@if (Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @if (string.IsNullOrWhiteSpace(item.Website))
                {
                    <span>@item.Name</span>
                }
                else
                {
                    <a href="@item.Website" rel="nofollow">@item.Name</a>
                }
                <br />
                <p>
                    @item.Comment
                </p>
            </li>
        }
    </ul>

    
}
else
{
    <i>No Comments</i>
    <br />
}

    <hr />