@model WebPagePub.WebApp.Models.SitePage.SitePageDisplayModel
@using Microsoft.AspNetCore.Identity
@using WebPagePub.Data.DbModels;

@inject SignInManager<WebPagePub.Data.Models.ApplicationUser> SignInManager
@inject UserManager<WebPagePub.Data.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && Model.SitePageId != 0)
{
    <hr />

    <a href="~/sitepages/editsitepage/@Model.SitePageId">&#128221; Edit page</a>
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area=string.Empty asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area=string.Empty asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@
}

 