<section class="team-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main-page-header">Meet The Team</h1>
                <h3 class="main-sub-header">We’re a passionate, dedicated group of experienced mobile and web designers, developers and programmers motivated by continually wanting to reach the goals and meet new challenges.</h3>

                <div class="row">
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Jeffrey Way" src="image/Jeffrey Way.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Jeffrey Way</h3>
                            <span class="team-designation">Head of Ideas</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Kevin J. Tracey" src="image/Kevin J. Tracey.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Kevin J. Tracey</h3>
                            <span class="team-designation">Project Manager</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Nathan Thomas Paul" src="image/Nathan Thomas Paul.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Nathan Thomas Paul</h3>
                            <span class="team-designation">Client Relations Manager</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Jean Briggs" src="image/Jean Briggs.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Jean Briggs</h3>
                            <span class="team-designation">Designer</span>
                        </div>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Ruth Linn" src="image/Ruth Linn.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Ruth Linn</h3>
                            <span class="team-designation">iOS Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="James Savage" src="image/James Savage.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">James Savage</h3>
                            <span class="team-designation">iOS &amp; Web Application Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Joan Vennochi" src="image/Joan Vennochi.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Joan Vennochi</h3>
                            <span class="team-designation">Android Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Stan Grossfeld" src="image/Stan Grossfeld.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Stan Grossfeld</h3>
                            <span class="team-designation">Android Developer</span>
                        </div>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Mark Thompson" src="image/Mark Thompson.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Mark Thompson</h3>
                            <span class="team-designation">Web Application Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Robert V. Bruce" src="image/Robert V. Bruce.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Robert V. Bruce</h3>
                            <span class="team-designation">Web Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Michael Rezendes" src="image/Michael Rezendes.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Michael Rezendes</h3>
                            <span class="team-designation">Game Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Kenneth Irby" src="image/Kenneth Irby.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Kenneth Irby</h3>
                            <span class="team-designation">Game Developer</span>
                        </div>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Susan Walsh" src="image/Susan Walsh.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Susan Walsh</h3>
                            <span class="team-designation">Designer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Fred A. Leuchter" src="image/Fred A. Leuchter.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Fred A. Leuchter</h3>
                            <span class="team-designation">Designer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Morgan James Peters" src="image/Morgan James Peters.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Morgan James Peters</h3>
                            <span class="team-designation">Web Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Kenneth Feld" src="image/Kenneth Feld.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Kenneth Feld</h3>
                            <span class="team-designation">Web Developer</span>
                        </div>
                    </div>
                </div><!-- row -->

                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Monty Sarhan" src="image/Monty Sarhan.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Monty Sarhan</h3>
                            <span class="team-designation">Web Developer</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member">
                            <div class="avatar-wrap">
                                <img alt="Robert S. Taubman" src="image/Robert S. Taubman.jpg" class="img-responsive">
                            </div>
                            <h3 class="team-name">Robert S. Taubman</h3>
                            <span class="team-designation">Web Developer</span>
                        </div>
                    </div>
                </div><!-- row -->
            </div>
        </div>
    </div>
</section>