@model WebPagePub.Web.Models.SitePageCommentModel


<form asp-controller="Home" asp-action="Comment" method="post" class="form-horizontal">
    <h4>Post Comment</h4>
    <input type="hidden" asp-for="RequestId" />
    <input type="hidden" asp-for="SitePageId" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Website" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Website" class="form-control" />
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Comment" class="col-md-2 control-label"></label>
        <div class="col-md-4">
            <textarea asp-for="Comment" class="form-control" rows="8"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>

    @Html.Partial("_captcha")


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>


</form>