
ul.ratings-items {
    margin: 0;
    padding: 0;
}

    ul.ratings-items li {
        list-style-type: none;
        padding-bottom: 5px;
    }

.ratings-container {
    width: 100%;
    background-color: #ddd;
}

.ratings {
    text-align: left;
    padding-right: 20px;
    line-height: 20px;
    font-size: 15px;
    color: white;
}

.green-line {
    background-color: #4CAF50;
    padding-left: 5px;
}

.blue-line {
    background-color: #2196F3;
    padding-left: 5px;
}

.red-line {
    background-color: #f44336;
    padding-left: 5px;
}

.disclosure-text {
    font-style: italic;
    font-size: 12px;
}
