@model WebPagePub.WebApp.Models.Author.AuthorCreateModel
@{
    ViewData["Title"] = "Create New Author";
}

<h2>@ViewData["Title"]</h2>
 
<form asp-controller="AuthorManagement" asp-action="Create" method="post" class="form-horizontal">
    
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" autocomplete="off" />
        </div>
    </div>

        <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AuthorBio" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="AuthorBio" class="form-control" autocomplete="off"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Create</button>
        </div>
    </div>

</form>
 
