@model WebPagePub.WebApp.Models.Author.AuthorEditModel
 
@{
    ViewData["Title"] = "Edit Author Id: " + Model.AuthorId;
}

<h2>@ViewData["Title"]</h2>

@Html.ValidationSummary()


<a href="~/authormanagement">&lt; back</a>
<hr />
<a href="~/authormanagement/uploadphoto/@Model.AuthorId">Upload photo</a>

<br />

@if (!string.IsNullOrEmpty(Model.PhotoThumbUrl))
{
    <img src="@Model.PhotoThumbUrl" />
    <br />
    <a onclick="return confirm('Are you sure you want to delete this photo?')"
       href="~/AuthorManagement/deleteauthorphoto/@Model.AuthorId">Delete photo</a>
    <br />
}

<form asp-controller="AuthorManagement" asp-action="Edit" method="post" class="form-horizontal">

    @Html.HiddenFor(x => x.AuthorId)

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" autocomplete="off" data-limit-input="15" />
         </div>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" autocomplete="off" data-limit-input="15" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="AuthorBio" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="AuthorBio" class="form-control" autocomplete="off"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>

</form>
 